<header>
  <div class="container">
     

    <a href="#" class="Logo">Imcare -Shiatsu</a>
    <nav>
      <ul>
        <li><a href="#" routerlink="/">Home</a></li>
        <li><a href="list" routerlink="/list">therapieën</a></li>
        <li><a href="#" routerlink="/list">Verzekeraars</a></li>
        <li><a href="#" routerlink="/list">Tarieven</a></li>
        <li><a href="#" routerlink="/list">Contact</a></li>
      
      </ul>
    </nav>
    
  </div>

</header>

<div class="container">
<router-outlet></router-outlet>
</div>