.Therapieen-container{
   text-align: center;
   color: #00979b;
   font-size: 24px;
   
}   

.mat-grid-tile {
   background : white;
}

.Cards{
  width: 180px;
  background-color: white;
  padding: 0;
  margin-left: 160px;
  margin-top: 14;
  
 
}

.mat-card-image{
   width: 100%;
}

.mat-card-title{
   color: #00979b;
   font-size: 18px;
   text-align: left;
   padding-left: 10px;
}

.mat-card-content{
   text-align: left;
   color: gray;
   font-size: 11px;
   padding-left: 10px;
}