
<div class="background-image">
  <img src="../../assets/homemassage.jpg" style="width: 1440px; height: 900px;">

</div>


<div class="Therapieen-container">
  <h3>Therapieën</h3>



  <mat-card class="Cards">  
      <img  mat-card-image  src = "../../assets/dry neeldlingkopie.jpg">
      <mat-card-title>Dry Needling</mat-card-title>
      <mat-card-content > 
        <p>
            Deze techniek is zeer effectief en kan in veel gevallen leiden 
            tot een snelle vermindering van pijn­klachten. Lees meer
          
        </p > 
      </mat-card-content > 
      <mat-card-actions > 
        <button  mat-button > Afspraak maken </button >  
      </mat-card-actions > 
    </mat-card >



  </div>

  <div class="contactbanner">
   
   <img src="../../assets/contactbackground.jpg" style="width: 1440px;">

   <button class ="btn">Contact</button>

  </div>



  <div class="Verzekeraarscontainer">
   
    <div class="headerverzekeraars">
   
    <h3>Verzekeraars</h3>
  </div>

  <p><b>
    Door mijn lidmaatschap van de beroepsvereniging NVST en NMTN komt u in aanmerking voor een vergoeding van uw zorgverzekeraar. 
    Om te bepalen welke behandeling wordt vergoed en de hoogte van de vergoeding kunt u uw eigen polis raadplegen.
  </b> </p > 
   
  <p>

  Een lijst van vergoedingen door Zorgverzekeraars kunt u ook vinden op de websites van de <b>NVST/NMTN.</b>

De leden van de NVST en NMTN zijn gediplomeerd en werken volgens vastgestelde kwaliteitseisen. 
Daarnaast zijn leden verzekerd voor beroepsaansprakelijkheid en geldt de klacht- en tuchtregeling.</p > 

<p>
Imcare is lid van de beroepsvereniging Nederlandse Vereniging van Soma Therapeuten (NVST) en 
van Neuromusculaire Therapeuten Nederland (NMTN)
</p > 


  </div>

  <div class="Tarievencontainer">
      
      <h3>Tarieven</h3>
   
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    
        
          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> Behandeling </th>
            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
          </ng-container>
        
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Duur </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>
        
          <!-- Weight Column -->
          <ng-container matColumnDef="weight">
            <th mat-header-cell *matHeaderCellDef> Prijs </th>
            <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
          </ng-container>
        
         
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

    </div>