.Therapieen-container{
   text-align: center;
   color: #00979b;
   font-size: 24px;
   
   
}   

.mat-grid-tile {
   background : white;
}

.Cards{
  width: 180px;
  background-color: white;
  padding: 0;
  margin-left: 160px;
  margin-top: 14px;
  
 
}

.mat-card-image{
   width: 100%;
}

.mat-card-title{
   color: #00979b;
   font-size: 18px;
   text-align: left;
   padding-left: 10px;
}

.mat-card-content{
   text-align: left;
   color: gray;
   font-size: 11px;
   padding-left: 10px;
}

.contactbanner .btn {
   position: absolute;
   top: 224%;
   left: 50%;
   transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   background-color: #f49a1b;
   color: white;
   font-size: 24px;
   padding: 12px 24px;
   border: none;
   border-radius: 5px;
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
   
}

.contactbanner .btn:hover {
   background-color:#d48618;
 }

 .headerverzekeraars{
   margin-top: -350px;
   text-align: center;
   color: #00979b;
   font-size: 24px;
   margin-bottom: 60px;
   
}  

.Verzekeraarscontainer{
   text-align: center;
   margin-left: 200px;
   margin-right: 200px;
   padding-bottom: 150px;

}

table {
   width: 50%;
   margin-left: 350px;
   th{background-color:#00979b};
   tr{
   background-color: white;
   color: blacks; 
   }

 }
