
<div class="background-image">
  <img src="../../assets/homemassage.jpg" style="width: 1440px; height: 900px;">

</div>


<div class="Therapieen-container">
  <h3>Therapieën</h3>
<br/>


  <mat-card class="Cards">  
      <img  mat-card-image  src = "../../assets/dry neeldlingkopie.jpg">
      <mat-card-title>Dry Needling</mat-card-title>
      <mat-card-content > 
        <p>
            Deze techniek is zeer effectief en kan in veel gevallen leiden 
            tot een snelle vermindering van pijn­klachten. Lees meer
          
        </p > 
      </mat-card-content > 
      <mat-card-actions > 
        <button  mat-button > Afspraak maken </button >  
      </mat-card-actions > 
    </mat-card >



  </div>

  <div class="contactbanner">
   
   <img src="../../assets/contactbackground.jpg" style="width: 1440px;">

   <button class ="btn">Contact</button>

  </div>


